node_modules/
!test/fixtures/loader/node_modules/
npm-debug.log
.coverage/
.DS_Store
.nyc_output/
.vscode/
build/
*.tgz
src/plugins/types/*
!src/plugins/types/index.d.ts
package-lock.json
yarn.lock
docs
__pycache__
