sudo: false

language: node_js

node_js:
  - "4"
  - "6"
  - "8"

services:
  - mongodb
  - redis-server
  - postgresql

before_install:
  - mysql -e "create database IF NOT EXISTS test;" -uroot
  - echo "USE mysql;\nUPDATE user SET password=PASSWORD('Password12!') WHERE user='root';\nFLUSH PRIVILEGES;\n" | mysql -u root
  - psql -c 'create database test;' -U postgres
  - psql -c "alter user postgres with password 'Password12!';" -U postgres

env:
  - CXX=g++-4.8 GCLOUD_TRACE_NEW_CONTEXT=1

script:
  - npm run coverage && npm run system-test && npm run non-interference

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

notifications:
  email:
    - nodejs-build-notifications+travis@googlegroups.com
